
body.login { background-color: #1abc9c; }
body.login div#login { font-family: 'Roboto'; }
body.login div#login h1 { .fade.one; }
body.login div#login h1 a {}
body.login div#login form#loginform { box-shadow: none !important;  }
body.login div#login form#loginform p {}
body.login div#login form#loginform p label {}
body.login div#login form#loginform input { font-family: 'Roboto'; margin: 0 !important; }
body.login div#login form#loginform input#user_login { background: #fff url('../images/user.png') 10px center no-repeat; padding-left: 40px; font-size: 14px; height: 40px; }
body.login div#login form#loginform input#user_pass { background: #fff url('../images/pass.png') 10px center no-repeat; padding-left: 40px; font-size: 14px; height: 40px; position: relative; top: -10px; }
body.login div#login form#loginform p.forgetmenot { margin: 10px 0 15px 0; }

body.login div#login form#loginform p.forgetmenot input#rememberme { position: relative; top: -2px; }
body.login div#login form#loginform p.submit {}
body.login div#login form#loginform p.submit input#wp-submit { font-family: 'Roboto'; font-size: 14px; background: #1abc9c; width: 100%; height: 40px; border: 0 !important; box-shadow: none !important; border-radius: 0 !important; }
body.login div#login p#nav {}
body.login div#login p#nav a { font-family: 'Roboto'; color: #fff; text-shadow: 0px 1px 0px #000; }
body.login div#login p#backtoblog {}
body.login div#login p#backtoblog a { font-family: 'Roboto'; color: #fff; text-shadow: 0px 1px 0px #000; }

#extra { 
  width: 100%;
  height: 40px;
  margin: 95px 0 0;
  background-color: #e74c3c;
  text-align: center;
  color: #f0f0f0;
}

#extra a {
  font-family: 'Roboto';
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  line-height: 40px;
}

@-webkit-keyframes fade {
    0% { opacity: 0 }
    100% { opacity: 100 }
}
@-moz-keyframes fade { 
    0% { opacity: 0 }
    100% { opacity: 100 }
}
@-o-keyframes fade { 
    0% { opacity: 0 }
    100% { opacity: 100 }
}
@keyframes fade { 
    0% { opacity: 0 }
    100% { opacity: 100 }
}
.fade {
    opacity: 0;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-name: fade;
    -moz-animation-name: fade;
    -o-animation-name: fade;
    animation-name: fade;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    animation-duration: 1.5s;
}
.fade.one {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
}
.fade.two {
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -o-animation-delay: 3s;
    animation-delay: 3s;
}
.fade.three {
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    -o-animation-delay: 4s;
    animation-delay: 4s;
}